.body_container {
    width: 100%;
    min-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.body_content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question_container {
    margin: 10px 0px;
    width: 60%;
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    transition: .5s;
}

.question_header {
    margin: 10px 0px;
    font-family: 'Poppins';
}

.question_title {
    text-align: center;
}

.question_type {
    text-align: center;
    margin: 5px 0px;
}

.question_answer {
    margin: 10px 0px;
}

.question_answers_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.question_answer {
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.answer_button {
    width: 100%;
    height: fit-content;
    border: 2px solid black;
    background: white;
    transition: .5s;
    border-radius: 5px;
    font-size: 20px;
    padding: 30px 30px;
    cursor: pointer;
}

.answer_button:hover {
    background: rgb(68, 200, 150);
}

.answer_button:focus {
    background: rgb(68, 200, 119)
}

.submit_answer {
    width: 140px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    transition: .5s;
    margin-top: 20px;
    font-family: 'Poppins';
    font-size: 20px;
}

.submit_answer:hover {
    background: rgb(68, 200, 150)
}

.intro_container {
    width: 80%;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins';
}

.header h1 {
    color: #00D8FF;
    font-size: 36px;
}

.header p {
    font-size: 20px;
}

.header p span:nth-child(1) {
    color: #00D8FF;
}

.header p span:nth-child(2) {
    color: #EFD81D;
}

.footer button {
    margin-top: 20px;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    transition: .5s;
    cursor: pointer;
}

.footer button:hover {
    background: black;
    color: white;
}

.results_container {
    border: 2px solid black;
    padding: 50px;
    font-family: 'Poppins';
    box-shadow: 2px 2px 5px black;
}

.results_header p {
    text-align: center;
    font-size: 20px;
}

.results_header h1 {
    font-size: 32px;
    text-align: center;
}

.results_header h1 span {
    color: #00D8FF;
}

.results_footer {
    display: flex;
    justify-content: center;
}

.results_footer button {
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 20px;
    background: none;
    border: 2px solid black;
    transition: .5s;
    cursor: pointer;
}

.results_footer button:hover {
    background: black;
    color: white;
}

@media only screen and (max-width: 991px) {
    .body_content {
        width: 100%;
    }

    .question_container {
        width: 95%;
    }

    .question_answer {
        width: 90%;
    }
}